
.public > .wrapper > header .top-bar, .proposal-dashboard > header .top-bar ::before {
background-image: none;
background-color: #FFFF;
height: 90px;

}
header {
    background-color: #F9F9F9;
    color: #063f60;
    text-align: justify;
    background-image: none;
    box-shadow: none;
   
        
}
.top-links {
    background:#ffc840; 
    height: 30px;
    
} 
.top-bar ul{
color:#000;
} 
.top-bar .menu > li .button {
    color: #000;
    background: #ffc840;
    text-align: center;
}
.budget-phases .phase-title.current-phase-tab a {
    background: #006837;
}
element {

}
.budget-header {

    background-color: #006837;

}
#navigation_bar {
    background-color: #ffc840;
    font-family: "Montserrat";
    font-weight: 400;
    margin-right: -50px;
}
.container-logo-header {
    max-width: 130px;
}
.subnavigation a {
    text-transform: none;
    font-family: "Source Sans Pro";
    font-size: 18px;
    padding: 10px;
    font-weight: 400;
    color:#000;

}
.subnavigation a:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    border-bottom: none;
   padding: 10px;
    
   
}
.menu.simple li.is-active {
    color: #ffc840;

}
.subnavigation a.is-active {
    color: #FFF;
    text-decoration: none;
    border: none;
}
.home-page.public {
    background-color: #F9F9F9;
}
.dropdown-content {
    position: absolute;
    background-color: #F9F9F9;
    width: 215px;
    min-width: 215px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
   
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color:#006298;
    font-size: 19px;
    
}
.admin .top-links {
    background: #000;
    color: #fdfdfd;
    margin-left: -20px;
}
.dropdown-content a:hover {
 
  padding: 16px 16px;
  border-bottom: none;
  color:#333;
 
}

.jumbo.header-card {
    background-color: #efe3af;
}
.feed-content .proposal {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.75rem 0;
    background-color: #F9F9F9;
    max-width: 20%;
    margin-left: 5px;
    padding: 20px;
    float: left;
    margin-right: 1px;
    border: 1px solid #333;
    
}
#feed_proposals{
    padding: 0px;
}


.feed-content .proposal:hover {
    border: 1px solid #ffc840;
}

.feed-content {
    background-color: #F9F9F9;
    padding-left: 0px;
}
.home-page .card a:hover, .custom-page .card a:hover, .sdg-goal-show .card a:hover, .sdg-goals-index .card a:hover {
    box-shadow: none;
    text-decoration: none;
}
.legislation-process.card {
    background-color: transparent;
}
.footer {
    background: #000;
    padding-bottom: 0px;
    margin-bottom: -55px;
    height: 250px;
}
.footer.pre {
    background: #333;
    border-bottom: 8px solid #EF60A3;
}
img {
    max-width: 120%;
} 
.social li {
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 2px solid #ffc840;
    border-radius: 120px;
    padding-top: 15px;
    margin-right: 20px;
}
.social a:hover {
    color: #ffc840;
    background-color: transparent;
}

.footer.secundario {
    height: 80px;
    padding-top: 10px;
    background: #b2b2b2;

} 
footer a {
    text-decoration: none;
}
footer a:hover, footer a:active:hover, footer a:focus:hover {
    color: #fff;
    text-decoration: none;
}
.col-lg-5.secundary {
    padding-left: 10%;
    color: #f333;
}
.privacy {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-right: 5rem;
    text-decoration: none;
} 
ul.no-bullet, ol.no-bullet {
    padding-top: 20px;
}
.col-md-2.secundary {
    padding-left: 50%;
    margin-top: -10px;
}
.no-bullet.inline-block.privacy {
    padding-left: 25%;
}
.header-title-container
{
    color:#FFF;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 6px 0px #333;
   
}
.lead.home-hd{
    color:#FFF;
   
}
.title {
    border-bottom: 2px solid #ffc840;
    margin: 1.5rem 0;
}
.button {
    background: #ffc840;
    border-color: #000;
    color: #000;
}
.proposal .supports .button-support {
    background: #ffc840;
    border-color: #000;
    color: #000;
}
.button.expanded.large{
    color:#ffc840;
}
.button.expanded.large:hover {
    background-color: #333;
    border-color: #333;
} 
.button.expanded.large.active {
    background-color: #ffc840;
    border-color: #333;
    color:#000 ;
} 
a {
    color: #000;
}
a:hover, a:active {
    text-decoration: none;
}
.featured-proposals {
    background: #ffc840;
}
.featured-proposals .supports .button-support {
    background: #333;
    color: #ffc840;
}
.sdg-goals-index .section-header {
    background-color: #efe3af;

}
.more-info-content h3 {
    color: #000;
}